
*{
box-sizing: border-box;
font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(55, 54, 54);
    
}

.container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    min-height: 400px;
    min-width:550px ;
    padding:20px;
    border: white solid 3px;
    background-color: gray;
}
.inner{
    display: flex;
    flex-direction: row;
}
button{
    background-color: blue;
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    display: inline;
    margin-left: 5px;
   
}
button:hover{
    opacity: 0.7;
    
}
input{
    height: 40px;
}
.text2{
    color:blue;
    font-weight: 700;
}
